/* COMMON */
body {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 1000px;

  /* background-image: url("../images/bgimg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 100%;

  margin: 0 auto;
  position: relative;
  min-width: 300px;
}

/* HEADER */
header {
  width: 100%;
  top: 0;
  height: 320px;
  background-image: url("../image/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}

header .inner {
  position: absolute;
  width: 800px;
  height: 20px;
  right: 30px;
  display: flex;
  flex-wrap: wrap;
  top: 20px;
}

header .inner img {
  height: 70px;
  position: absolute;
  margin: auto;
  right: 15%;
}

header .inner .main-menu {
  display: flexbox; 
  flex-wrap: wrap;
  flex:flex-end;
  position: absolute;
  top: 80px;
  right: 15%;
}

header .inner .main-menu .item {
  margin: 10px;
  font-size: 40px;
  font-weight: 600;
  text-align: right;
  color: rgba(255, 255, 255, 0.678);
}

header .inner .main-menu .item {
  
}


/* VISUAL */
.visual {
  position: relative;
  
  background-color: rgba(109, 23, 247, 0.116);
}

.visual ::after {
  content: "";
  background-image: url("../image/video_cover_pattern.png");
  opacity: 0.015;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -4;
}

.visual .inner {
  background-color: rgba(255, 255, 255, 0.425);
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.visual .about-hokkaido .hokkaido {
  padding: 50px;
  display: flex;
  top: 0;
}

.visual .hokkaido-detail {
  padding: 30px 50px;
  width: 488px;
  box-sizing: border-box;
}

.visual .hokkaido-detail-title {
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 600;

}

.visual .hokkaido img {
  width: 300px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.visual .hokkaido-explain {
  display: flex;
  justify-content: center;
}

.visual .hokkaido-explain .explain-detail {
  margin: 50px;
}

.visual .hokkaido-explain .explain-detail img {
  width: 70px;
  margin: auto;
  padding: 20px;
}

.visual .cities {
  background-color: rgba(255, 255, 255, 0.425);
  width: 80%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.visual .cities .city {
  padding: 50px;
  display: flex;
  top: 0;
}

.city img {
  width: 300px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.visual .cities .city .city-detail {
  padding: 30px 50px;
}

.visual .cities .city .city-detail .city-detail-title {
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 600;
}

.visual .cities .city .city-detail .city-detail-explain {
  font-size: 20px;
  padding-bottom: 20px;
}

.visual .cities .city .city-detail .city-detail-keywords {
  display: flex;
  
}

.visual .cities .city .city-detail .city-detail-keyword {
  padding: 10px;
  border: 2px solid royalblue;
  border-radius: 40px;
  text-align: center;
  margin-right: 10px;
}

.visual .cities .city .city-detail .city-detail-keyword:last-child {
  margin-right: 0;
}
/* FOOTER */
footer {
  background-color: #bf6cdf9d;
  opacity: 60%;
  width: 100%;
}

footer .notice {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding: 40px;
}

footer .notice p {
  margin-bottom: 10px;
}
